<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>All users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/runfinderstyles.css}">
</head>

<header>
    <h1>RunFinder</h1>
</header>

<body>
    <div class="navbar">
        <form th:action="@{/home}" method="get">
            <button type="submit" th:action="@{/home}" method="get">Home</button>
        </form>
        <form th:action="@{/upcomingrungroups}" method="get">
            <button type="submit">Upcoming run groups</button>
        </form>
        <form th:action="@{/usersignups}" method="get">
            <button type="submit">My sign ups</button>
        </form>
        <form th:action="@{/userprofile}" method="get">
            <button type="submit">My profile</button>
        </form>
        <form th:action="@{/userrungroups}" method="get" sec:authorize="hasAnyAuthority('CONTRIBUTOR', 'ADMIN')">
            <button type="userrungroups">My run groups</button>
        </form>
        <form th:action="@{/allrungroups}" method="get" sec:authorize="hasAuthority('ADMIN')">
            <button type="allrungroups">All run groups</button>
        </form>
        <form th:action="@{/allappusers}" method="get" sec:authorize="hasAuthority('ADMIN')">
            <button type="allappusers">All app users</button>
        </form>
    </div>
    <div class="verticalbuttons">
        <form th:action="@{/search}" method="get">
            <button type="search">Search</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Sign out</button>
        </form>
    </div>
    <h2>All users</h2>
    <table>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>First name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr th:each="appuser : ${allappusers}">
            <td th:text="${appuser.appUserId}"></td>
            <td th:text="${appuser.username}"></td>
            <td th:text="${appuser.firstName}"></td>
            <td th:text="${appuser.lastName}"></td>
            <td th:text="${appuser.email}"></td>
            <td th:text="${appuser.role.role}"></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/editappuserprofile/{id}(id=${appuser.appUserId})}" method="get">
                    <input type="hidden" name="origin" value="allappusers" />
                    <button type="submit">Edit user profile</button>
                </form>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/editappuserrole/{id}(id=${appuser.appUserId})}" method="get">
                    <button type="submit">Edit user role</button>
                </form>
            </td>
        </tr>
    </table>
    <p th:if="${#lists.isEmpty(allappusers)}">No app users</p>
</body>

</html>