<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Edit an app user role</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/runfinderstyles.css}">
</head>

<header>
    <h1>RunFinder</h1>
</header>

<body>
    <div class="navbar">
        <form th:action="@{/home}" method="get">
            <button type="submit" th:action="@{/home}" method="get">Home</button>
        </form>
        <form th:action="@{/upcomingrungroups}" method="get">
            <button type="submit">Upcoming run groups</button>
        </form>
        <form th:action="@{/usersignups}" method="get">
            <button type="submit">My sign ups</button>
        </form>
        <form th:action="@{/userprofile}" method="get">
            <button type="submit">My profile</button>
        </form>
        <form th:action="@{/userrungroups}" method="get" sec:authorize="hasAnyAuthority('CONTRIBUTOR', 'ADMIN')">
            <button type="userrungroups">My run groups</button>
        </form>
        <form th:action="@{/allrungroups}" method="get" sec:authorize="hasAuthority('ADMIN')">
            <button type="allrungroups">All run groups</button>
        </form>
        <form th:action="@{/allappusers}" method="get" sec:authorize="hasAuthority('ADMIN')">
            <button type="allappusers">All app users</button>
        </form>
    </div>
    <div class="verticalbuttons">
        <form th:action="@{/search}" method="get">
            <button type="search">Search</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Sign out</button>
        </form>
    </div>
    <h2>Edit an app user role</h2>
    <h3 th:text="'User: ' + ${appuser.username}"></h3>
    <p th:text="'User role: ' + ${appuser.role.role}"></p>

    <form th:object="${appuser}" th:action="@{/saveeditedappuserrole}" action="#" method="post">
        <input type="hidden" id="appUserId" th:field="*{appUserId}" />
        <input type="hidden" id="username" th:field="*{username}" />
        <input type="hidden" id="firstName" th:field="*{firstName}" />
        <input type="hidden" id="lastName" th:field="*{lastName}" />
        <input type="hidden" id="email" th:field="*{email}" />
        <input type="hidden" id="password" th:field="*{password}" />

        <label for="role">Set new role: </label>
        <select id="roleList" th:field="*{role}" class="form-control">
            <option th:each="role: ${roles}" th:value="${role.roleId}" th:text="${role.role}">
            </option>
        </select>

        <button type="submit">Save</button>
    </form>
    <form th:action="@{/allappusers}" method="get">
        <button type="submit">Return</button>
    </form>
</body>

</html>