<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Edit a run group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script>
    async function fetchCity() {
        let selectedZipcode = document.getElementById("zipcodeList").value;
        if (selectedZipcode != "select") {
            try {
                const cityData = await fetch('/zipcodes/' + selectedZipcode);
                const cityDataText = await cityData.text();
                document.getElementById("cityDisplay").innerText = cityDataText;
            } catch (error) {
                console.error(error);
            }
        } else {
            document.getElementById("cityDisplay").innerText = "Select a zipcode";
        }
    }
</script>

<header>
    <h1>RunFinder</h1>
    <h2>Edit a run group</h2>
</header>

<body>
    <form th:action="@{/home}" method="get">
        <button type="submit">Return home</button>
    </form>
    <form th:object="${rungroup}" th:action="@{/saveeditedgroup}" action="#" method="post">
        <input type="hidden" id="runGroupId" th:field="*{runGroupId}" />
        <input type="hidden" name="origin" th:value="${param.origin}" />

        <label for="runGroupName">Run group name: </label>
        <input type="text" id="runGroupName" th:field="*{runGroupName}" />
        <span th:if="${#fields.hasErrors('runGroupName')}" th:errors="*{runGroupName}"></span>
        <div style="clear: both; display: block; height: 10px;"></div>

        <label for="runStartDate">Run start date: </label>
        <input type="date" id="runStartDate" th:field="*{runStartDate}" />
        <span th:if="${#fields.hasErrors('runStartDate')}" th:errors="*{runStartDate}"></span>
        <div style="clear: both; display: block; height: 10px;"></div>

        <label for="runStartTime">Run start time: </label>
        <input type="time" id="runStartTime" th:field="*{{runStartTime}}" />
        <span th:if="${#fields.hasErrors('runStartTime')}" th:errors="*{runStartTime}"></span>
        <div style="clear: both; display: block; height: 10px;"></div>

        <label for="startAddress">Start address: </label>
        <input type="text" id="startAddress" th:field="*{startAddress}" />
        <span th:if="${#fields.hasErrors('startAddress')}" th:errors="*{startAddress}"></span>
        <div style="clear: both; display: block; height: 10px;"></div>

        <label for="zipcode">Zipcode: </label>
        <select id="zipcodeList" th:field="*{zipcode}" class="form-control" onChange="fetchCity()">
            <option value="select">Select a zipcode</option>
            <option th:each="zipcode: ${zipcodes}" th:value="${zipcode.zipcode}" th:text="${zipcode.zipcode}">
            </option>
        </select>

        <p>City: <span id="cityDisplay"></span></p>

        <script>
            fetchCity();
        </script>

        <button type="submit">Save</button>
    </form>
</body>

</html>