<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Run groups</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>
    <h1>Run groups</h1>
    <h2>Hello <span sec:authentication="name"></span>!</h2>
</header>

<body>
    <table>
        <tr>
            <th>Run group ID</th>
            <th>Run group name</th>
            <th>Run start date</th>
            <th>Run start time</th>
            <th>Start address</th>
            <th>Zipcode</th>
            <th>City</th>
        </tr>
        <tr th:each="rungroup : ${rungroups}">
            <span th:if="${rungroup.deletedAt == null}">
                <td th:text="${rungroup.runGroupId}"></td>
                <td th:text="${rungroup.runGroupName}"></td>
                <td th:text="${#temporals.format(rungroup.runStartDate, 'dd.MM.YYYY')}"></td>
                <!--FIX!! Näyttää jostakin syystä seuraavan vuoden, kun päivämäärä on 29.-31.12.-->
                <td th:text="${{rungroup.runStartTime}}"></td>
                <td th:text="${rungroup.startAddress}"></td>
                <td th:text="${rungroup.zipcode.zipcode}"></td>
                <td th:text="${rungroup.zipcode.city}"></td>
                <td sec:authorize="hasAuthority( 'ADMIN')">
                    <form th:action="@{/edit/{id}(id=${rungroup.runGroupId})}" method="get">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="@{/delete/{id}(id=${rungroup.runGroupId})}" method="get">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </span>
        </tr>
    </table>
    <form th:action="@{/add}" method="get" sec:authorize="hasAnyAuthority('CONTRIBUTOR', 'ADMIN')">
        <button type="submit">Add a new run group</button>
    </form>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Sign out</button>
    </form>
</body>

</html>