<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Running groups</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Running groups</h1>
    <table>
        <tr>
            <th>Running group ID</th>
            <th>Running group name</th>
            <th>Run start date</th>
            <th>Run start time</th>
            <th>Run duration</th>
            <th>Start address</th>
            <th>Zipcode</th>
            <th>City</th>
        </tr>
        <tr th:each="runninggroup : ${runninggroups}">
            <td th:text="${runninggroup.runningGroupId}"></td>
            <td th:text="${runninggroup.runningGroupName}"></td>
            <td th:text="${runninggroup.runStartDate}"></td>
            <td th:text="${runninggroup.runStartTime}"></td>
            <td th:text="${runninggroup.duration}"></td>
            <td th:text="${runninggroup.startAddress}"></td>
            <td th:text="${runninggroup.zipcode.zipcode}"></td>
            <td th:text="${runninggroup.zipcode.city}"></td>
        </tr>
    </table>
</body>

</html>