<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>My sign ups</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/runfinderstyles.css}">
</head>

<header>
    <h1>RunFinder</h1>
</header>

<body>
    <div class="navbar">
        <form th:action="@{/home}" method="get">
            <button type="submit" th:action="@{/home}" method="get">Home</button>
        </form>
        <form th:action="@{/upcomingrungroups}" method="get">
            <button type="submit">Upcoming run groups</button>
        </form>
        <form th:action="@{/usersignups}" method="get">
            <button type="submit">My sign ups</button>
        </form>
        <form th:action="@{/userprofile}" method="get">
            <button type="submit">My profile</button>
        </form>
        <form th:action="@{/userrungroups}" method="get" sec:authorize="hasAnyAuthority('CONTRIBUTOR', 'ADMIN')">
            <button type="userrungroups">My run groups</button>
        </form>
        <form th:action="@{/allrungroups}" method="get" sec:authorize="hasAuthority('ADMIN')">
            <button type="allrungroups">All run groups</button>
        </form>
        <form th:action="@{/allappusers}" method="get" sec:authorize="hasAuthority('ADMIN')">
            <button type="allappusers">All app users</button>
        </form>
    </div>
    <div class="verticalbuttons">
        <form th:action="@{/search}" method="get">
            <button type="search">Search</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Sign out</button>
        </form>
    </div>
    <h2>My sign ups</h2>
    <table>
        <tr>
            <th>Run group name</th>
            <th>Run start date</th>
            <th>Run start time</th>
            <th>Start address</th>
            <th>Zipcode</th>
            <th>City</th>
        </tr>
        <tr th:each="usersignup : ${usersignups}">
            <td th:text="${usersignup.runGroup.runGroupName}"></td>
            <td th:text="${#temporals.format(usersignup.runGroup.runStartDate, 'dd.MM.yyyy')}"></td>
            <td th:text="${{usersignup.runGroup.runStartTime}}"></td>
            <td th:text="${usersignup.runGroup.startAddress}"></td>
            <td th:text="${usersignup.runGroup.zipcode.zipcode}"></td>
            <td th:text="${usersignup.runGroup.zipcode.city}"></td>
            <td>
                <form th:action="@{/deletesignup/{id}(id=${usersignup.runGroupSignUpId})}" method="get">
                    <button type="submit">Remove sign up</button>
                </form>
            </td>
        </tr>
    </table>
    <p th:if="${#lists.isEmpty(usersignups)}">
        You have not yet signed up to any run groups. Click <strong>"See upcoming run groups"</strong> to sign up!</p>
</body>

</html>