<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>My run groups</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/runfinderstyles.css}">
</head>

<header>
    <h1>RunFinder</h1>
</header>

<body>
    <div class="navbar">
        <form th:action="@{/home}" method="get">
            <button type="submit" th:action="@{/home}" method="get">Home</button>
        </form>
        <form th:action="@{/upcomingrungroups}" method="get">
            <button type="submit">Upcoming run groups</button>
        </form>
        <form th:action="@{/usersignups}" method="get">
            <button type="submit">My sign ups</button>
        </form>
        <form th:action="@{/userprofile}" method="get">
            <button type="submit">My profile</button>
        </form>
        <form th:action="@{/userrungroups}" method="get" sec:authorize="hasAnyAuthority('CONTRIBUTOR', 'ADMIN')">
            <button type="userrungroups">My run groups</button>
        </form>
        <form th:action="@{/allrungroups}" method="get" sec:authorize="hasAuthority('ADMIN')">
            <button type="allrungroups">All run groups</button>
        </form>
        <form th:action="@{/allappusers}" method="get" sec:authorize="hasAuthority('ADMIN')">
            <button type="allappusers">All app users</button>
        </form>
    </div>
    <div class="verticalbuttons">
        <form th:action="@{/search}" method="get">
            <button type="search">Search</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Sign out</button>
        </form>
    </div>
    <h2>My run groups</h2>
    <p th:if="${#lists.isEmpty(userrungroups)}">You have not added any run groups. Add a new below!</p>
    <table th:unless="${#lists.isEmpty(userrungroups)}">
        <tr>
            <th>Run group name</th>
            <th>Run start date</th>
            <th>Run start time</th>
            <th>Start address</th>
            <th>Zipcode</th>
            <th>City</th>
            <th>Sign ups</th>
        </tr>
        <tr th:each="rungroup : ${userrungroups}">
            <td th:text="${rungroup.runGroupName}"></td>
            <td th:text="${#temporals.format(rungroup.runStartDate, 'dd.MM.yyyy')}"></td>
            <td th:text="${{rungroup.runStartTime}}"></td>
            <td th:text="${rungroup.startAddress}"></td>
            <td th:text="${rungroup.zipcode.zipcode}"></td>
            <td th:text="${rungroup.zipcode.city}"></td>
            <td th:each="rungroupsignup : ${rungroupsignupcountmap}"
                th:if="${rungroupsignup.key == rungroup.runGroupId}" th:text="${rungroupsignup.value}"></td>
            <td sec:authorize="hasAnyAuthority( 'CONTRIBUTOR', 'ADMIN')">
                <form th:action="@{/editgroup/{id}(id=${rungroup.runGroupId})}" method="get">
                    <input type="hidden" name="origin" value="userrungroups" />
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td sec:authorize="hasAnyAuthority('CONTRIBUTOR', 'ADMIN')">
                <form th:action="@{/deletegroup/{id}(id=${rungroup.runGroupId})}" method="get">
                    <input type="hidden" name="origin" value="userrungroups" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <form th:action="@{/addnewgroup}" method="get" sec:authorize="hasAnyAuthority('CONTRIBUTOR', 'ADMIN')">
        <input type="hidden" name="origin" value="userrungroups" />
        <button type="submit">Add a new run group</button>
    </form>
</body>

</html>